[submodule "crownie-swap/contracts/lib/forge-std"]
	path = crownie-swap/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crownie-swap/contracts/lib/openzeppelin-contracts"]
	path = crownie-swap/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
